@model Shad_BookingApplication.Models.AspNetDiscount

@{
    ViewBag.Title = "AddDiscount";
    Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";
}

<section id="content_wrapper">
    <!-- Start: Topbar-Dropdown -->
    <div id="topbar-dropmenu">
        <div class="topbar-menu row">
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-inbox"></span>
                    <p class="metro-title">Messages</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-user"></span>
                    <p class="metro-title">Users</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-headphones"></span>
                    <p class="metro-title">Support</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon fa fa-gears"></span>
                    <p class="metro-title">Settings</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
                    <p class="metro-title">Videos</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="metro-tile">
                    <span class="metro-icon glyphicon glyphicon-picture"></span>
                    <p class="metro-title">Pictures</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End: Topbar-Dropdown -->
    <!-- Start: Topbar -->

    @using (Html.BeginForm("AddDiscount", "SuperAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb" style="text-align: center;">
                    <h3>Add Discount</h3>
                </ol>
            </div>
            <div class="topbar-right">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </header>
    <!-- End: Topbar -->


        <div style="width: 80%;margin-left: 10%">
            <br><br>
            <div class="tab-pane">
                <div class="row">
                    <div class="row form-group required">
                        <label class="col-md-2 col-xs-12 text-right control-label">Discount Name:</label>
                        <div class="col-md-8 col-xs-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Discount Name Here " } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group required">
                        <label class="col-md-2 col-xs-12 text-right control-label">Discount Rate:</label>
                        <div class="col-md-8 col-xs-12">
                            @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.1", @value = "0", @class = "form-control", @placeholder = "Enter Discount Here " } })
                            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                 </div>

             </div>
         </div>
            <br>
            <br>
        
    }
    <!-- End: Content -->
    <!-- Begin: Page Footer -->
    <footer id="content-footer" class="affix">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2017 Plateforme RDV</span>
            </div>

        </div>
    </footer>
    <!-- End: Page Footer -->

</section>
<!-- end: Content-Wrapper -->
