
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";
}

 <!-- Required Plugin CSS -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/plugins/tagmanager/tagmanager.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/plugins/daterange/daterangepicker.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css")"/>

<!-- Select2 Plugin CSS  -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/plugins/select2/css/core.css")"/>

<!-- CKEditor -->
<script src="@Url.Content("https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js")"></script>

 <!-- AngularJS -->
<script src="@Url.Content("~/assets/js/angular.min.js")"></script>


<section id="content_wrapper">

    <!-- Start: Topbar-Dropdown -->
    <!-- End: Topbar-Dropdown -->
    <!-- Start: Topbar -->
    <h1>HHHHHHHH</h1>
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="dashboard.html">Add Item</a>
                </li>
                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>

            </ol>
        </div>
        <div class="topbar-right">

        </div>
    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div class="panel">
        <div class="panel" id="spy3">

            <div class="panel-body">


                <div class="tab-pane">
                    <div class="row">
                        <div class="row form-group required">
                            <label class="col-md-2 col-xs-12 text-right control-label">Item ID:</label>
                            <div class="col-md-8 col-xs-12">
                                <input type="text" class="form-control" placeholder="Enter the item ID" required="required">
                            </div>
                        </div>
                        <div class="row form-group required">
                            <label class="col-md-2 col-xs-12 text-right control-label">Item Name:</label>
                            <div class="col-md-8 col-xs-12">
                                <input type="text" class="form-control" placeholder="Enter the item name" required="required">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 col-xs-12 text-right">Item Description:</label>
                            <div class="col-md-8 col-xs-12">
                                <textarea class="form-control" rows="5" id="comment" style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 col-xs-12 text-right">Price w/o VAT:</label>
                            <div class="col-md-5 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    <input id="w/ovat" type="number" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="row form-group ">
                            <label class="col-md-2 col-xs-12 text-right control-label">VAT:</label>
                            <div class="col-md-2 col-xs-12">
                                <select class="form-control" id="tax" style="margin-bottom: 3%;">
                                    <option selected disabled value="0.00">-Taux-</option>
                                    <option value="0.00">0,00%</option>
                                    <option value="5.50">5,50%</option>
                                    <option value="20.00">20,00%</option>
                                </select>
                            </div>


                            <div class="col-md-3 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    <input id="multiplyyy" type="text" class="form-control" disabled="">
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-2 col-xs-12 text-right">Price w/ VAT:</label>
                            <div class="col-md-5 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    <input id="wvvat" type="number" class="form-control" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-md-2 col-xs-12 text-right control-label">Status:</label>
                            <div class="col-md-3 col-xs-12">
                                <select class="form-control">
                                    <option selected>Active</option>
                                    <option>In Active</option>

                                </select>
                            </div>


                        </div>





                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-3 col-xs-12">
                    </div>
                    <div class="col-md-3 col-xs-12">
                    </div>

                    <div class="col-md-5 col-xs-12">
                        <center>   <button type="button" class="btn btn-success">Save</button></center>
                    </div>


                </div>



            </div>


            <br><br><br><br><br><br><br>
        </div>
        <!-- End: Content -->
        <!-- Begin: Page Footer -->
        <footer id="content-footer">
            <div class="row">
                <div class="col-md-6">
                    <span class="footer-legal">© 2017 PlateformeRDV</span>
                </div>
                <div class="col-md-6 text-right">
                    <span class="footer-meta"></span>
                    <a href="#content" class="footer-return-top">
                        <span class="fa fa-arrow-up"></span>
                    </a>
                </div>
            </div>
        </footer>
        <!-- End: Page Footer -->
    </div>
</section>
<!-- End: Content-Wrapper -->

<style>
    /* demo styles -summernote */
    .btn-toolbar > .btn-group.note-fontname {
        display: none;
    }

    /* demo styles - hides several ckeditor toolbar buttons */
    #cke_52,
    #cke_53 {
        display: none !important;
    }
</style>

<script type="text/javascript">


$("#tax").change(function (){
    var wovat=document.getElementById("w/ovat").value;
    var per=document.getElementById("tax").value;
    if(wovat=="")
    {
        alert("Fill out Price W/O VAT");
    }
    else
    {
        document.getElementById("multiplyyy").value =  (per/100)*wovat;
        var final=(per/100)*wovat;
        wovat=final+wovat;
        document.getElementById("wvvat").value =  wovat;


    }
}
);

    jQuery(document).ready(function () {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Demo JS
        Demo.init();


        // CKEditor
        CKEDITOR.replace( 'editor1' );

        // Init Select2 - Basic Single
        $(".select2-single").select2();

        // Init Select2 - Basic Multiple
        $(".select2-multiple").select2({
            placeholder: "Select a state",
            allowClear: true
        });

        // Init Select2 - Contextuals (via html classes)
        $(".select2-primary").select2(); // select2 contextual - primary
        $(".select2-success").select2(); // select2 contextual - success
        $(".select2-info").select2();    // select2 contextual - info
        $(".select2-warning").select2(); // select2 contextual - warning

        // Init Bootstrap Maxlength Plugin
        $('input[maxlength]').maxlength({
            threshold: 15,
            placement: "right"
        });

        // Dual List Plugin Init
        var demo1 = $('.demo1').bootstrapDualListbox({
            nonSelectedListLabel: 'Options',
            selectedListLabel: 'Selected',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            nonSelectedFilter: 'ion ([7-9]|[1][0-2])'
        });

        $("#demoform").submit(function () {
            alert("Options Selected: " + $('.demo1').val());
            return false;
        });

        // Init Twitter Typeahead.js
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({
                            value: str
                        });
                    }
                });

                cb(matches);
            };
        };

        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
            'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
            'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
            'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
            'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];

        // Init Typeahead Plugin with state aray
        $('.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'states',
            displayKey: 'value',
            source: substringMatcher(states)
        });

        // DateRange plugin options
        var rangeOptions = {
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                'Last 7 Days': [moment().subtract('days', 6), moment()],
                'Last 30 Days': [moment().subtract('days', 29), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
            },
            startDate: moment().subtract('days', 29),
            endDate: moment()
        }

        // Init DateRange plugin
        $('#daterangepicker1').daterangepicker();

        // Init DateRange plugin
        $('#daterangepicker2').daterangepicker(
            rangeOptions,
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        );

        // Init DateRange plugin
        $('#inline-daterange').daterangepicker(
            rangeOptions,
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        );

        // Init DateTimepicker - fields
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();

        // Init DateTimepicker - inline + range detection
        $('#datetimepicker3').datetimepicker({
            defaultDate: "9/4/2014",
            inline: true,
        });

        // Init DateTimepicker - fields + Date disabled (only time picker)
        $('#datetimepicker5').datetimepicker({
            defaultDate: "9/25/2014",
            pickDate: false,
        });
        // Init DateTimepicker - fields + Date disabled (only time picker)
        $('#datetimepicker6').datetimepicker({
            defaultDate: "9/25/2014",
            pickDate: false,
        });
        // Init DateTimepicker - inline + Date disabled (only time picker)
        $('#datetimepicker7').datetimepicker({
            defaultDate: "9/25/2014",
            pickDate: false,
            inline: true
        });

        // Init Colorpicker plugin
        $('#demo_apidemo').colorpicker({
            color: bgPrimary
        });
        $('.demo-auto').colorpicker();

        // Init jQuery Tags Manager
        $(".tm-input").tagsManager({
            tagsContainer: '.tags',
            prefilled: ["Miley Cyrus", "Apple", "A Long Tag", "Na uh"],
            tagClass: 'tm-tag-info',
        });

        // Init Boostrap Multiselects
        $('#multiselect1').multiselect();
        $('#multiselect2').multiselect({
            includeSelectAllOption: true
        });
        $('#multiselect3').multiselect();
        $('#multiselect4').multiselect({
            enableFiltering: true,
        });
        $('#multiselect5').multiselect({
            buttonClass: 'multiselect dropdown-toggle btn btn-default btn-primary'
        });
        $('#multiselect6').multiselect({
            buttonClass: 'multiselect dropdown-toggle btn btn-default btn-info'
        });
        $('#multiselect7').multiselect({
            buttonClass: 'multiselect dropdown-toggle btn btn-default btn-success'
        });
        $('#multiselect8').multiselect({
            buttonClass: 'multiselect dropdown-toggle btn btn-default btn-warning'
        });

        // Init jQuery spinner init - default
        $("#spinner1").spinner();

        // Init jQuery spinner init - currency
        $("#spinner2").spinner({
            min: 5,
            max: 2500,
            step: 25,
            start: 1000,
            //numberFormat: "C"
        });

        // Init jQuery spinner init - decimal
        $("#spinner3").spinner({
            step: 0.01,
            numberFormat: "n"
        });

        // jQuery Time Spinner settings
        $.widget("ui.timespinner", $.ui.spinner, {
            options: {
                // seconds
                step: 60 * 1000,
                // hours
                page: 60
            },
            _parse: function (value) {
                if (typeof value === "string") {
                    // already a timestamp
                    if (Number(value) == value) {
                        return Number(value);
                    }
                    return +Globalize.parseDate(value);
                }
                return value;
            },

            _format: function (value) {
                return Globalize.format(new Date(value), "t");
            }
        });

        // Init jQuery Time Spinner
        $("#spinner4").timespinner();

        // Init jQuery Masked inputs
        $('.date').mask('99/99/9999');
        $('.time').mask('99:99:99');
        $('.date_time').mask('99/99/9999 99:99:99');
        $('.zip').mask('99999-999');
        $('.phone').mask('(999) 999-9999');
        $('.phoneext').mask("(999) 999-9999 x99999");
        $(".money").mask("999,999,999.999");
        $(".product").mask("999.999.999.999");
        $(".tin").mask("99-9999999");
        $(".ssn").mask("999-99-9999");
        $(".ip").mask("9ZZ.9ZZ.9ZZ.9ZZ");
        $(".eyescript").mask("~9.99 ~9.99 999");
        $(".custom").mask("9.99.999.9999");

});
</script>


