@model Shad_BookingApplication.Models.AspNetInvoiceOption
@{
    ViewBag.Title = "InvoiceOption";
    Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";



    List<SelectListItem> listItems = new List<SelectListItem>();


    listItems.Add(new SelectListItem
    {
        Text = " Immediately",
        Value = " Immediately",
        Selected = true
    });

    listItems.Add(new SelectListItem
    {
        Text = "Option1",
        Value = "Option1",
        Selected = false
    });

    listItems.Add(new SelectListItem
    {
        Text = "Option2",
        Value = "Option2",
        Selected = false
    });

    List<SelectListItem> listItems1 = new List<SelectListItem>();


    listItems1.Add(new SelectListItem
    {
        Text = " PDF",
        Value = " PDF",
        Selected = true
    });

    listItems1.Add(new SelectListItem
    {
        Text = "Thermal Receipt",
        Value = "Thermal Receipt",
        Selected = false
    });

}

    <!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- Start: Topbar-Dropdown -->
    <!-- End: Topbar-Dropdown -->
    <!-- Start: Topbar -->
@using (Html.BeginForm("InvoiceOption", "SuperAdmin", FormMethod.Post))
{
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="dashboard.html">Invoice option</a>
                </li>
                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>

            </ol>
        </div>
        <div class="topbar-right">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <div class="panel">
        <div class="panel" id="spy3">

            <div class="panel-body pn">


                <div class="row">
                    <div class="col-md-4 col-xs-12">

                        <div class="row form-group">
                            <label class="col-md-12 text-left" style="margin-left:3% "><h3>Invoice settings</h3></label><br>

                            <label class="col-md-12 text-left" style="margin-left:3% ">Specify the payment terms and informations to appear on all invoices </label>


                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                        <br>
                        <label class="col-md-12 col-xs-10 text-left">Payment terms for invoices</label>
                        <div class="row form-group">

                            <label class="col-md-8 col-xs-10">
                                @Html.DropDownListFor(model => model.PaymentTerms, listItems, new { @class = "form-control", @style = "margin-left:3%" })
                                @Html.ValidationMessageFor(model => model.PaymentTerms, "", new { @class = "text-danger" })


                            </label>
                        </div>

                        <label class="col-md-12 col-xs-10 text-left">Invoice title</label>
                        <div class="row form-group">

                            <label class="col-md-8 col-xs-10">
                               
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:3% ", @id = "inputStandard", @placeholder = "Type Here..." } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })


                            </label>
                        </div>
                        <div class="col-md-8 col-xs-10" style="padding: 0px; margin:0px;">
                            <div class="col-md-6 col-xs-12" style=" float: left">

                                <label class="col-md-12 col-xs-10  text-left" style="padding-left: 3px; margin:0px;">Siret</label>
                                <div class="row form-group">

                                    <label class="col-md-12 col-xs-10">

                                        @*<input type="text" id="inputStandard" class="form-control" style="margin-left:2% " placeholder="Type Here...">*@

                                        @Html.EditorFor(model => model.Siret, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:2% ", @id = "inputStandard", @placeholder = "Type Here..." } })
                                        @Html.ValidationMessageFor(model => model.Siret, "", new { @class = "text-danger" })




                                    </label>
                                </div>


                            </div>
                            <div class="col-md-6 col-xs-12" style=" float: right">

                                <label class="col-md-12 col-xs-10  text-left" style=" padding-left: 3px; margin:0px;">Ape</label>
                                <div class="row form-group">

                                    <label class="col-md-12 col-xs-10">

                                        @*<input type="text" id="inputStandard" class="form-control" style="margin-left:2% " placeholder="Type Here...">*@

                                        @Html.EditorFor(model => model.APE, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:2% ", @id = "inputStandard", @placeholder = "Type Here..." } })
                                        @Html.ValidationMessageFor(model => model.APE, "", new { @class = "text-danger" })





                                    </label>
                                </div>


                            </div>


                        </div>
                        <label class="col-md-12 col-xs-12  text-left">Vat Number</label>
                        <div class="row form-group">

                            <label class="col-md-6 col-xs-10">
                               

                                @Html.EditorFor(model => model.VatNo, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:5% ", @id = "inputStandard", @placeholder = "Type Here..." } })
                                @Html.ValidationMessageFor(model => model.VatNo, "", new { @class = "text-danger" })



                            </label>
                        </div>

                        <label class="col-md-12 col-xs-10  text-left">Payment instructions/ notes</label>
                        <div class="row form-group">

                            <label class="col-md-9 col-xs-10">
                              
                                @Html.TextAreaFor(model => model.PaymentInstructiones, new { @rows = "5", @id = "comment", @class = "form-control", @style = "margin-left:3%;resize: none;" })
                                @Html.ValidationMessageFor(model => model.PaymentInstructiones, "", new { @class = "text-danger" })


                            </label>
                        </div>

                        <label class="col-md-12 col-xs-10 text-left">Next Invoice Number</label>
                        <div class="row form-group">

                            <label class="col-md-6 col-xs-10">
                                @*<input type="text" id="inputStandard" class="form-control" style="margin-left:5% " placeholder="1">*@
                                @Html.EditorFor(model => model.NextNumber, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:5% ", @id = "inputStandard", @placeholder = "1" } })
                                @Html.ValidationMessageFor(model => model.NextNumber, "", new { @class = "text-danger" })



                            </label>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-6 col-xs-10" style="margin-left:3%;">
                                <div class="checkbox-custom mb5">
                                    <input type="checkbox"  id="checkboxDefault3">
                                   
                                    <label for="checkboxDefault3">Hide business name, adress and logo</label>
                                </div>
                            </label>
                        </div>
                        @Html.HiddenFor(model => model.HideName, new { @id = "HideName_id" })


                        <div class="row form-group">
                            <label class="col-md-6 col-xs-10" style="margin-left:3%;">
                                <div class="checkbox-custom mb5">
                                    <input type="checkbox"  id="checkboxDefault4">
                                    <label for="checkboxDefault4">Hide payment history on invoices</label>
                                </div>
                            </label>
                        </div>
                        @Html.HiddenFor(model => model.HidePaymentHistory, new { @id = "HidePaymentHistory_id" })

                    </div>
                </div>
                <div style="background-color: #eff0f2; height:2px; width:80%; margin-left: 2%;"> </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">

                        <div class="row form-group">
                            <label class="col-md-12 col-xs-10 text-left" style="margin-left:3% "><h3>Invoice printing settings</h3></label><br>

                            <label class="col-md-12  col-xs-10 text-left" style="margin-left:3% ">Generate invoices in either PDF formator as sales receipt(suitable for thermal printers) </label>


                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">

                        <div class="col-md-8 col-xs-10" style="padding: 0px; margin:0px;">
                            <div class="col-md-6 col-xs-10" style=" float: left">

                                <label class="col-md-12 col-xs-10  text-left" style=" padding-left: 3px; margin:0px;"><h3>Location</h3></label>
                                <div class="row form-group">

                                    <p class="col-md-12 col-xs-10" style="margin-left:3% ">

                                        Carateam
                                    </p>
                                </div>


                            </div>
                            <div class="col-md-6 col-xs-12" style=" float: right">

                                <label class="col-md-12 col-xs-10  text-left" style=" padding-left: 3px; margin:0px;"><h3>Print Format</h3></label>
                                <div class="row form-group">

                                    <label class="col-md-12 col-xs-10">
                                        @Html.DropDownListFor(model => model.PrintFormate, listItems1, new { @class = "form-control", @style = "margin-left:3%" })
                                        @Html.ValidationMessageFor(model => model.PrintFormate, "", new { @class = "text-danger" })
                                    </label>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                





                <div style="background-color: #eff0f2; height:2px; width:80%; margin-left: 2%;"> </div>

                @* Dynamic rows of tax Added Here *@

                <div id="dynamic_tax_rows_id">
                    <div class="row">

                        <div class="col-md-3 col-xs-5">
                            <div class="row form-group">
                                <label class="col-md-12 col-xs-10 text-left" style="margin-left:3% "><h3>Taxes</h3></label><br>
                                <label class="col-md-12 col-xs-10 text-left" style="margin-left:3% ">Set up taxes that can applied to services and products </label>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-5">
                                    
                       </div>
       
                        <div class="col-md-1 col-xs-1" style="margin-top: 2%">
                            <button type="button"  id="AddTax_btn" style="" class="btn btn-success">+</button>
                        </div>
                    </div>

                    


               </div>           <!-- End div dynamic tax rows  -->

                <br>

                <div style="background-color: #eff0f2; height:2px; width:80%; margin-left: 2%;"> </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="row form-group">
                            <label class="col-md-12 text-left" style="margin-left:3% "><h3>Payment Types</h3></label><br>
                            <label class="col-md-12 text-left" style="margin-left:3% ">Create payment types to apply to invoice </label>
                        </div>
                    </div>
                    <div id="main_payment_section" class="col-md-6 col-xs-8">
                        <label class="col-md-12" style="margin-left: 4%"><h5>Payment Types</h5></label>
                        <div class="row form-group">
                            <div class="input-group col-md-10 col-xs-11 col-xs-offset-1">
                                <input type="text" class="form-control" placeholder="On Account" />
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="input-group col-md-10 col-xs-11 col-xs-offset-1">

                                <input type="text" class="form-control" placeholder="Credit Card" />
                            </div>


                        </div>

                        <div class="row form-group">

                            <div class="input-group col-md-10 col-xs-11 col-xs-offset-1">

                                <input type="text" class="form-control" placeholder="Cash" />
                            </div>


                        </div>
                    </div>
                    <div class="col-md-1 col-xs-1" style="margin-top: 2%">
                        <button type="button" style="" class="btn btn-success">+</button>
                    </div>
                    <br>
                </div>
            </div>

            <br><br><br><br>
        </div>
    </div>

}    
    <!-- End: Content -->
    <!-- Begin: Page Footer -->
    <footer id="content-footer">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-legal">© 2017 PlateformeRDV</span>
            </div>
            <div class="col-md-6 text-right">
                <span class="footer-meta"></span>
                <a href="#content" class="footer-return-top">
                    <span class="fa fa-arrow-up"></span>
                </a>
            </div>
        </div>
    </footer>
    <!-- End: Page Footer -->

</section>

<!-- Jquery -->

<script src="@Url.Content("~/vendor/jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/vendor/jquery/jquery_ui/jquery-ui.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    var tax_row = 0;


    $(document).ready(function () {
        Load_TaxData();
       

        $("#AddTax_btn").click(function () {

            $("#dynamic_tax_rows_id").append('<div id=taxrow_' + tax_row + ' class="row"> <input type="hidden" value="0" id="hidden_taxId_' + tax_row + '"/>  <div class="col-md-3 col-xs-10"></div><div class="col-md-9 col-xs-12"><div class="col-md-3 col-xs-4">	<div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px;"><strong>Tax Name</strong></label><br><div class="row form-group"><div class="input-group col-md-9 col-xs-9"><input type="text" id="tax_name_id_' + tax_row + '" style="margin-left: 8%" class="form-control" /></div></div></div></div><div class="col-md-2 col-xs-3"><div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px;"><strong>Rate</strong></label><br><div class="row form-group"><div class="input-group col-md-9 col-xs-12"><input type="text" id="tax_rate_id_' + tax_row + '" style="margin-left:8%" class="form-control" placeholder="20" /> <span class="input-group-addon">&nbsp; %</span></div></div></div></div><div class="col-md-3 col-xs-3"><div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px; margin-bottom: 8%"><strong>Usage</strong></label><br><div class="row form-group"><label class="col-md-6  col-xs-5 text-left" style="margin-left:1%">0 items</label><span>&nbsp;</span><span onclick="delTaxRow(' + tax_row + ')" class="glyphicon glyphicon-trash"></span><br></div></div></div><div class="col-md-1 col-xs-12" style="margin-top: 2%"><button  id="Savetax_btn_Id_' + tax_row + '" onclick="Insert_Tax(' + tax_row + ')" type="button" style="" class="btn btn-success">Save</button></div></div></div>');
            tax_row = tax_row + 1;
        });

        $("#checkboxDefault3").click(function () {
            if ($(this).prop("checked") == true)
            {
                $("#HideName_id").val(true);
            }
            else if ($(this).prop("checked") == false) {
                $("#HideName_id").val(false);
            }
        });

        $("#checkboxDefault4").click(function () {
            if ($(this).prop("checked") == true) {
                $("#HidePaymentHistory_id").val(true);
            }
            else if ($(this).prop("checked") == false) {
                $("#HidePaymentHistory_id").val(false);
            }
        });

       
    });
    
    function delTaxRow(index)
    {
        var id = $("#hidden_taxId_" + index).val();
        if (id != "0")
        {
            $.ajax({
                type: "GET",
                url: "/SuperAdmin/Delete_tax",
                data: { "id": id },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("deleted");

                    document.getElementById("taxrow_" + index).style.display = "none";
                    $("#taxrow_" + index).remove();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        else {
            document.getElementById("taxrow_" + index).style.display = "none";
            $("#taxrow_" + index).remove();
        }

    }

    function UpdateTaxRow(index)
    {
        var id = $("#hidden_taxId_" + index).val();
        var name = $("#tax_name_id_" + index).val();
        var rate = $("#tax_rate_id_" + index).val();

        $.ajax({
            type: "GET",
            url: "/SuperAdmin/Update_tax",
            data: { "id": id, "name": name, "rate": rate },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Updated");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });


    }

    function Load_TaxData()
    {
        $.ajax({
            type: "GET",
            url: "/SuperAdmin/GetTax_ForInvoiceOptions",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response)
            {
                for (var i = 0; i < response.length; i++)
                {
                    var item = response[i];
                    var id = item.id;
                    var name = item.name;
                    var rate = item.rate;
                    $("#dynamic_tax_rows_id").append('<div id=taxrow_' + tax_row + ' class="row"> <input type="hidden" value="' + id + '" id="hidden_taxId_' + tax_row + '"/> <div class="col-md-3 col-xs-10"></div><div class="col-md-9 col-xs-12"><div class="col-md-3 col-xs-4">	<div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px;"><strong>Tax Name</strong></label><br><div class="row form-group"><div class="input-group col-md-9 col-xs-9"><input type="text" id="tax_name_id_' + tax_row + '" style="margin-left: 8%" class="form-control" value="' + name + '" /></div></div></div></div><div class="col-md-2 col-xs-3"><div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px;"><strong>Rate</strong></label><br><div class="row form-group"><div class="input-group col-md-9 col-xs-12"><input type="text" id="tax_rate_id_' + tax_row + '" style="margin-left:8%" class="form-control"  value="' + rate + '"  /> <span class="input-group-addon">&nbsp; %</span></div></div></div></div><div class="col-md-3 col-xs-3"><div class="row form-group" style="padding: 0px; margin: 0px;"><br><label class="col-md-12  col-xs-10 text-left" style="padding: 0px; margin: 0px; margin-bottom: 8%"><strong>Usage</strong></label><br><div class="row form-group"><label class="col-md-6  col-xs-5 text-left" style="margin-left:1%">0 items</label><span>&nbsp;</span><span onclick="delTaxRow(' + tax_row + ')" class="glyphicon glyphicon-trash"></span><br></div></div></div><div class="col-md-1 col-xs-12" style="margin-top: 2%"><button onclick="UpdateTaxRow(' + tax_row + ')" type="button" style="" class="btn btn-danger">Update</button></div></div></div>');

                    tax_row = tax_row + 1;
                }
               


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }

    function Insert_Tax(index)
    {
        var name = $("#tax_name_id_"+index).val();
        var rate = $("#tax_rate_id_" + index).val();

        $.ajax({
            type: "GET",
            url: "/SuperAdmin/Insert_tax",
            data: { "name": name,"rate":rate },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response)
            {
                $("#hidden_taxId_" + index).val(response);
                $("#Savetax_btn_Id_" + index).addClass("btn btn-danger").text("Update");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    function Calculate_Ammount()
    {
        for (var i = 0; i < rowNum; i++)
        {
            var unit_price = $("#unit_" + i).val();
            unit_price = parseFloat(unit_price);
            var tax = $("#tax_" + i).html();
            tax = parseFloat(tax);
            var tax_ammount = (tax / 100) * unit_price;
            tax_ammount = tax_ammount + unit_price;

            if (!isNaN(tax_ammount))
                $("#totel_" + i).val(tax_ammount);

            //   alert(tax_ammount);
        }
    }




</script>
<!-- End: Content-Wrapper -->


