
@{
	ViewBag.Title = "ItemList";
	Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";
}
<style>
	div#datatable2_filter label {
		display: none;
	}

	.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}


	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 40%;
	}

	/* The Close Button */
	.close {
		color: black;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

	div.dataTables_filter label {
		padding-right: 70px;
	}
</style>
<h1>hhhh</h1>

<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

	<!-- Start: Topbar-Dropdown -->
	<div id="topbar-dropmenu">
		<div class="topbar-menu row">
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-inbox"></span>
					<p class="metro-title">Messages</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-user"></span>
					<p class="metro-title">Users</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-headphones"></span>
					<p class="metro-title">Support</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon fa fa-gears"></span>
					<p class="metro-title">Settings</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-facetime-video"></span>
					<p class="metro-title">Videos</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-picture"></span>
					<p class="metro-title">Pictures</p>
				</a>
			</div>
		</div>
	</div>
	<!-- End: Topbar-Dropdown -->
	<!-- Start: Topbar -->
	<header id="topbar">
		<div class="topbar-left">
			<ol class="breadcrumb">
				<li class="crumb-active">
					<a href="dashboard.html">Dashboard</a>
				</li>
				<li class="crumb-icon">
					<a href="dashboard.html">
						<span class="glyphicon glyphicon-home"></span>
					</a>
				</li>
				<li class="crumb-link">
					<a href="dashboard.html">Home</a>
				</li>
				<li class="crumb-trail">Item List</li>
			</ol>
		</div>

		<div class="topbar-right">
			<a href="#" class="btn btn-default" id="myBtn" style="height:30px; padding:5px; border-radius:5px">Import Item List</a>

			<a href="additem.html" class="btn btn-primary" style="height:30px; padding:5px">+ Add Item</a>
		</div>
	</header>
	<!-- End: Topbar -->
	<!-- Begin: Content -->
	<section id="content" class="table-layout">
		<!-- Start: Header -->
		<!-- End: Header -->

		<div class="col-md-12" style="display: block;">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Item List
					</div>
				</div>
				<div class="panel-body pn">



					<div class="panel panel-visible" id="spy3">
						<div class="panel-body pn">
							<div class="table-responsive">
								<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="datatable2" rowspan="1"
												colspan="1" aria-sort="ascending"
												aria-label="Name: activate to sort column descending" style="width: 14%; text-align: center;">
												<center> Items ID </center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Position: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center> Items Name</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Office: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center>  Price W/O VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Office: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center> VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center>  Price W/ VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 15%; text-align: center;">
												<center>  Status</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 15%; text-align: center;">
											</th>
										</tr>
									</thead>
									<tbody id="myCustomers">

										<tr role="row" class="odd">
											<td class="sorting_1"><center>001</center></td>
											<td><center>HairStyle</center></td>
											<td><center>30.00 &euro;</center></td>
											<td><center>5.00 &euro;</center></td>
											<td><center>35.00 &euro;</center></td>

											<td><center><button type="button" class="btn active btn-dark btn-sm" style="background-color: rgb(97,144,126);">Confirmed</button></center></td>
											<td><center><div class="btn-group"><button type="button" class="btn btn-default">View</button><button type="button" class="btn btn-danger">Delete</button></div></center></td>

										</tr>
										<tr role="row" class="odd">
											<td class="sorting_1"><center>002</center></td>
											<td><center>Makeup</center></td>
											<td><center>35.00 &euro;</center></td>
											<td><center>6.00 &euro;</center></td>
											<td><center>41.00 &euro;</center></td>


											<td><center><button type="button" class="btn active btn-dark btn-sm" style="background-color: rgb(97,144,126);">Confirmed</button></center></td>
											<td><center><div class="btn-group"><button type="button" class="btn btn-default">View</button><button type="button" class="btn btn-danger">Delete</button></div></center></td>
										</tr>


									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End: Content -->
	<!-- Begin: Page Footer -->
	<footer id="content-footer" class="affix">
		<div class="row">
			<div class="col-md-6">
				<span class="footer-legal">© 2017 Plateforme RDV</span>
			</div>

		</div>
	</footer>
	<!-- End: Page Footer -->


</section>
<!-- end: Content-Wrapper -->

<script src="@Url.Content("~/vendor/jquery/jquery-1.11.1.min.js")"></script>
<script src="@Url.Content("~/vendor/jquery/jquery_ui/jquery-ui.min.js")"></script>


			<!-- Datatables -->
<script src="@Url.Content("~/vendor/plugins/datatables/media/js/jquery.dataTables.js")"></script>

<!-- Datatables Tabletools addon -->
<script src="@Url.Content("~/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>

<!-- Datatables ColReorder addon -->
<script src="@Url.Content("~/vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js")"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="@Url.Content("~/vendor/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>


<script type="text/javascript">
	jQuery(document).ready(function () {

		"use strict";

		// Init Theme Core
		Core.init();

		// Init Demo JS
		Demo.init();

		var modalContent = $('#modal-content');

		modalContent.on('click', '.holder-style', function (e) {
			e.preventDefault();

			modalContent.find('.holder-style').removeClass('holder-active');
			$(this).addClass('holder-active');
		});

		function findActive() {
			var activeModal = modalContent.find('.holder-active').attr('href');
			return activeModal;
		};

		// Form Skin Switcher
		$('#animation-switcher button').on('click', function () {
			$('#animation-switcher').find('button').removeClass('active-animation');
			$(this).addClass('active-animation item-checked');

			// Inline Admin-Form example
			$.magnificPopup.open({
				removalDelay: 500, //delay removal by X to allow out-animation,
				items: {
					src: findActive()
				},
				// overflowY: 'hidden', //
				callbacks: {
					beforeOpen: function (e) {
						var Animation = $("#animation-switcher").find('.active-animation').attr('data-effect');
						this.st.mainClass = Animation;
					}
				},
				midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
			});

		});

	});
</script>




<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>

<script type="text/javascript">
  function myFunction() {
  var input, filter, table, tr, td, i,j,count=0;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("datatable2");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
	for (j = 0; j <5; j++) {

	td = tr[i].getElementsByTagName("td")[j];
	if (td) {
	  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	  } else {
		count++;
	   }
	}
	}
	if(count==5)
	{
		tr[i].style.display = "none";

	}
	count=0;
  }
}

  jQuery(document).ready(function() {

	"use strict";

	// Init Theme Core
	Core.init();

	// Init Demo JS
	Demo.init();

	// Init DataTables
	$('#datatable').dataTable({
	  "sDom": 't<"dt-panelfooter clearfix"ip>',
	  "oTableTools": {
		"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	  }
	});

	$('#datatable2').dataTable({
	  "aoColumnDefs": [{
		'bSortable': false,
		'aTargets': [-1]
	  }],
	  "oLanguage": {
		"oPaginate": {
		  "sPrevious": "",
		  "sNext": ""
		}
	  },
	  "iDisplayLength": 5,
	  "aLengthMenu": [
		[5, 10, 25, 50, -1],
		[5, 10, 25, 50, "All"]
	  ],
	  "sDom": 't<"dt-panelmenu clearfix"lfr><"dt-panelfooter clearfix"ip>',
	  "oTableTools": {
		"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	  }
	});

	$('#datatable3').dataTable({
	  "aoColumnDefs": [{
		'bSortable': false,
		'aTargets': [-1]
	  }],
	  "oLanguage": {
		"oPaginate": {
		  "sPrevious": "",
		  "sNext": ""
		}
	  },
	  "iDisplayLength": 5,
	  "aLengthMenu": [
		[5, 10, 25, 50, -1],
		[5, 10, 25, 50, "All"]
	  ],
	  "sDom": '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
	  "oTableTools": {
		"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	  }
	});

	$('#datatable4').dataTable({
	  "aoColumnDefs": [{
		'bSortable': false,
		'aTargets': [-1]
	  }],
	  "oLanguage": {
		"oPaginate": {
		  "sPrevious": "",
		  "sNext": ""
		}
	  },
	  "iDisplayLength": 5,
	  "aLengthMenu": [
		[5, 10, 25, 50, -1],
		[5, 10, 25, 50, "All"]
	  ],
	  "sDom": 'T<"panel-menu dt-panelmenu"lfr><"clearfix">tip',

	  "oTableTools": {
		"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	  }
	});

	// Multi-Column Filtering
	$('#datatable5 thead th').each(function() {
	  var title = $('#datatable5 tfoot th').eq($(this).index()).text();
	  $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
	});

	// DataTable
	var table5 = $('#datatable5').DataTable({
	  "sDom": 't<"dt-panelfooter clearfix"ip>',
	  "ordering": false
	});

	// Apply the search
	table5.columns().eq(0).each(function(colIdx) {
	  $('input', table5.column(colIdx).header()).on('keyup change', function() {
		table5
		  .column(colIdx)
		  .search(this.value)
		  .draw();
	  });
	});

	// ABC FILTERING
	var table6 = $('#datatable6').DataTable({
	  "sDom": 't<"dt-panelfooter clearfix"ip>',
	  "ordering": false
	});

	var alphabet = $('<div class="dt-abc-filter"/>').append('<span class="abc-label">Search: </span> ');
	var columnData = table6.column(0).data();
	var bins = bin(columnData);

	$('<span class="active"/>')
	  .data('letter', '')
	  .data('match-count', columnData.length)
	  .html('None')
	  .appendTo(alphabet);

	for (var i = 0; i < 26; i++) {
	  var letter = String.fromCharCode(65 + i);

	  $('<span/>')
		.data('letter', letter)
		.data('match-count', bins[letter] || 0)
		.addClass(!bins[letter] ? 'empty' : '')
		.html(letter)
		.appendTo(alphabet);
	}

	$('#datatable6').parents('.panel').find('.panel-menu').addClass('dark').html(alphabet);

	alphabet.on('click', 'span', function() {
	  alphabet.find('.active').removeClass('active');
	  $(this).addClass('active');

	  _alphabetSearch = $(this).data('letter');
	  table6.draw();
	});

	var info = $('<div class="alphabetInfo"></div>')
	  .appendTo(alphabet);

	var _alphabetSearch = '';

	$.fn.dataTable.ext.search.push(function(settings, searchData) {
	  if (!_alphabetSearch) {
		return true;
	  }
	  if (searchData[0].charAt(0) === _alphabetSearch) {
		return true;
	  }
	  return false;
	});

	function bin(data) {
	  var letter, bins = {};
	  for (var i = 0, ien = data.length; i < ien; i++) {
		letter = data[i].charAt(0).toUpperCase();

		if (bins[letter]) {
		  bins[letter]++;
		} else {
		  bins[letter] = 1;
		}
	  }
	  return bins;
	}

	// ROW GROUPING
	var table7 = $('#datatable7').DataTable({
	  "columnDefs": [{
		"visible": false,
		"targets": 2
	  }],
	  "order": [
		[2, 'asc']
	  ],
	  "sDom": 't<"dt-panelfooter clearfix"ip>',
	  "displayLength": 25,
	  "drawCallback": function(settings) {
		var api = this.api();
		var rows = api.rows({
		  page: 'current'
		}).nodes();
		var last = null;

		api.column(2, {
		  page: 'current'
		}).data().each(function(group, i) {
		  if (last !== group) {
			$(rows).eq(i).before(
			  '<tr class="row-label ' + group.replace(/ /g, '').toLowerCase() + '"><td colspan="5">' + group + '</td></tr>'
			);
			last = group;
		  }
		});
	  }
	});

	// Order by the grouping
	$('#datatable7 tbody').on('click', 'tr.row-label', function() {
	  var currentOrder = table7.order()[0];
	  if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
		table7.order([2, 'desc']).draw();
	  } else {
		table7.order([2, 'asc']).draw();
	  }
	});

	$('#datatable8').DataTable({
	  "sDom": 'Rt<"dt-panelfooter clearfix"ip>',
	});

		// COLLAPSIBLE ROWS
		function format ( d ) {
		//  d  is the original data object for the row
		return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
		'<tr>'+
		  '<td class="fw600 pr10">Full name:</td>'+
		  '<td>'+d.name+'</td>'+
		'</tr>'+
		'<tr>'+
		  '<td class="fw600 pr10">Extension:</td>'+
		  '<td>'+d.extn+'</td>'+
		'</tr>'+
		'<tr>'+
		  '<td class="fw600 pr10">Extra info:</td>'+
		  '<td>And any further details here (images etc)...</td>'+
		'</tr>'+
	  '</table>';
		}

	var table = $('#datatable9').DataTable({
	  "sDom": 'Rt<"dt-panelfooter clearfix"ip>',
	  "ajax": "vendor/plugins/datatables/examples/data_sources/objects.txt",
	  "columns": [
		{
		  "className":      'details-control',
		  "orderable":      false,
		  "data":           null,
		  "defaultContent": ''
		},
		{ "data": "name" },
		{ "data": "position" },
		{ "data": "office" },
		{ "data": "salary" }
	  ],
	  "order": [[1, 'asc']]
	});

	// Add event listener for opening and closing details
	$('#datatable9 tbody').on('click', 'td.details-control', function () {
	  var tr = $(this).closest('tr');
	  var row = table.row( tr );

	  if ( row.child.isShown() ) {
		// This row is already open - close it
		row.child.hide();
		tr.removeClass('shown');
	  }
	  else {
		// Open this row
		row.child( format(row.data()) ).show();
		tr.addClass('shown');
	  }
	});


	// MISC DATATABLE HELPER FUNCTIONS

	// Add Placeholder text to datatables filter bar
	$('.dataTables_filter input').attr("placeholder", "Enter Terms...");


  });
window.onload = function() {
	var padd=70;
 var newWidth = (document.getElementById('datatable3').clientWidth * 1);
  $(".dt-panelmenu").width((newWidth-40)+"px");
  // $(".dt-panelmenu").maxWidth(newWidth);
  $(".dt-panelfooter").maxWidth(newWidth);
 //$("#label").css("padding-right",padd+"px" );
  //$("#label").padding-right(padd+"px");
  };


window.onresize = function() {
	var padd=70;
	//$(".label").css("padding-right",padd+"px" );
  var newWidth = (document.getElementById('datatable3').clientWidth * 1);

  $(".dt-panelmenu").width((newWidth-40)+"px");

  $(".dt-panelfooter").maxWidth(newWidth);
 //$( ".dt-panelmenu" ).css( "Width", ( newWidth ) + "px" );
 //$(".dt-panelmenu").width((newWidth-10)+"px");
 // $('.div.dataTables_filter.label').css( 'padding-right',  padd+"px");
// $(".dt-panelfooter").maxWidth(newWidth);



}



</script>
 
<!-- END: PAGE SCRIPTS -->
