@model IEnumerable<Shad_BookingApplication.Models.AspNetItem>
@{
	ViewBag.Title = "ItemList";
	Layout = "~/Views/Shared/_SuperAdminNavigationBar.cshtml";
}

<h1>hhhh</h1>

<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

	<!-- Start: Topbar-Dropdown -->
	<div id="topbar-dropmenu">
		<div class="topbar-menu row">
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-inbox"></span>
					<p class="metro-title">Messages</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-user"></span>
					<p class="metro-title">Users</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-headphones"></span>
					<p class="metro-title">Support</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon fa fa-gears"></span>
					<p class="metro-title">Settings</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-facetime-video"></span>
					<p class="metro-title">Videos</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="metro-tile">
					<span class="metro-icon glyphicon glyphicon-picture"></span>
					<p class="metro-title">Pictures</p>
				</a>
			</div>
		</div>
	</div>
	<!-- End: Topbar-Dropdown -->
	<!-- Start: Topbar -->
	<header id="topbar">
		<div class="topbar-left">
			<ol class="breadcrumb">
				<li class="crumb-active">
					<a href="dashboard.html">Dashboard</a>
				</li>
				<li class="crumb-icon">
					<a href="dashboard.html">
						<span class="glyphicon glyphicon-home"></span>
					</a>
				</li>
				<li class="crumb-link">
					<a href="dashboard.html">Home</a>
				</li>
				<li class="crumb-trail">Item List</li>
			</ol>
		</div>

		<div class="topbar-right">
			<a href="#" class="btn btn-default" id="myBtn" style="height:30px; padding:5px; border-radius:5px">Import Item List</a>

			<a href="additem.html" class="btn btn-primary" style="height:30px; padding:5px">+ Add Item</a>
		</div>
	</header>
	<!-- End: Topbar -->
	<!-- Begin: Content -->
	<section id="content" class="table-layout">
		<!-- Start: Header -->
		<!-- End: Header -->

		<div class="col-md-12" style="display: block;">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Item List
					</div>
				</div>
				<div class="panel-body pn">



					<div class="panel panel-visible" id="spy3">
						<div class="panel-body pn">
							<div class="table-responsive">
								<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%" style="font-size:13px;">
									<thead>

										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="datatable2" rowspan="1"
												colspan="1" aria-sort="ascending"
												aria-label="Name: activate to sort column descending" style="width: 14%; text-align: center;">
												<center> Items ID </center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Position: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center> Items Name</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Office: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center>  Price W/O VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Office: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center> VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 14%; text-align: center;">
												<center>  Price W/ VAT</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 15%; text-align: center;">
												<center>  Status</center>
											</th>
											<th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"
												aria-label="Age: activate to sort column ascending" style="width: 15%; text-align: center;">
											</th>
										</tr>
									</thead>
									<tbody id="myCustomers">
					
											@foreach (Shad_BookingApplication.Models.AspNetItem item in Model)
											{
												<tr role="row" class="odd">
													<td class="sorting_1">
														<center>
															@Html.DisplayFor(modelItem => item.Id)
														</center>
													</td>
													<td>
														<center>
															@Html.DisplayFor(modelItem => item.Name)
														</center>
													</td>
													<td>
														<center>
															@Html.DisplayFor(modelItem => item.Price_W_O_Vat)
														</center>
													</td>
													<td>
														<center>
															@Html.DisplayFor(modelItem => item.Vat)
														</center>
													</td>
													<td>
														<center>
															@Html.DisplayFor(modelItem => item.Price_W__Vat)
														</center>
													</td>
													
													<td>
                                                        <center>
                                                            <button type="button" class="btn active btn-dark btn-sm" style="background-color: rgb(97,144,126);">Confirmed</button>
                                                        </center>
                                                    </td>
													<td>
                                                        <center>
                                                            <div class="btn-group">
                                                                <span class="btn btn-default">@Html.ActionLink("Edit", "EditItem", new { id = item.Id })</span>
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </center>
                                                    </td>
                                            </tr>

											}
										

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End: Content -->
	<!-- Begin: Page Footer -->
	<footer id="content-footer" class="affix">
		<div class="row">
			<div class="col-md-6">
				<span class="footer-legal">© 2017 Plateforme RDV</span>
			</div>

		</div>
	</footer>
	<!-- End: Page Footer -->


</section>
<!-- end: Content-Wrapper -->
