@model Shad_BookingApplication.Models.AspNetGiftVoucher
@{
	ViewBag.Title = "AddVoucher";
	Layout = "~/Views/Shared/_CompanyAdminNavigationBar.cshtml";
}<!-- Start: Content-Wrapper -->
<section id="content_wrapper">
	<!-- Start: Topbar-Dropdown -->
	<!-- End: Topbar-Dropdown -->
	<!-- Start: Topbar -->
	<header id="topbar">
		<div class="alert alert-info" style="margin-bottom: 0">
			<h4 style="margin-bottom: 0px; padding-bottom: 1px">
				<span class="glyphicon glyphicon-plus" style="font-size: 16px; top: 3px"></span>
				<strong id="headinggg">Add Voucher</strong>
			</h4>
			<p>Please fill out the form below to add voucher code and discount. You can add a voucher for soecific date, day of the week or date range.</p>
		</div>
		<div class="topbar-left">
			<ol class="breadcrumb">
				<li class="crumb-active">
					<h3>Add Gift Vouchers</h3>
				</li>
			</ol>
		</div>
		<div class="topbar-right">
		</div>
	</header>
	<!-- End: Topbar -->
	<!-- Begin: Content -->
	<div class="panel">
		<div class="panel" id="spy3">

			<div class="panel-body">
@using (Html.BeginForm("AddItem", "SuperAdmin", FormMethod.Post))
{
	@Html.AntiForgeryToken()


				<div id="notifications" class="tab-pane">
					<div class="row">
						<div class="row">
							<div class="form-group col-md-3 col-xs-10 " style="margin-left:0%">
								<label class="col-md-12 col-xs-10 text-left" style="font-size: 18px">Gift Voucher settings</label>
								<label class="col-md-12 col-xs-10" style="margin-top: 2%">
									The setting for this gift voucher
								</label>
							</div>
							<div class="form-group col-md-3 col-xs-10 " style="margin-left:0%">
								<label class="col-md-12 col-xs-10 text-left">Discount</label>
								<label class="col-md-12 col-xs-10">
									@Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.5", @value = "0", @class = "form-control", @style = "padding: 0; padding-left: 5px", @id = "discount" } })
									@Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
								</label>
							</div>
							<div class="form-group col-md-4 col-xs-10 " style="margin-left:0%">
								<label class="col-md-12 col-xs-10 text-left">Type</label>
								<label class="col-md-12 col-xs-10">
									<select class="form-control">
										<option>-Choose-</option>
										<option>Option 2</option>
										<option>Option 3</option>
									</select>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-3 col-xs-10 col-md-offset-3 required">
								<label class="col-md-12 col-xs-10 text-left control-label">Gift Voucher Name</label>
								<label class="col-md-12 col-xs-10">
									@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @class = "form-control", @style = "padding: 0; padding-left: 5px", @id = "Name" } })
									@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								</label>
							</div>
							<div class="form-group col-md-4 col-xs-10 " style="margin-left:0%">
								<label class="col-md-12 col-xs-10 text-left">SKU/Handle</label>
								<label class="col-md-12 col-xs-10">
									@Html.EditorFor(model => model.Sku, new { htmlAttributes = new { @type = "text", @class = "form-control", @style = "padding: 0; padding-left: 5px", @id = "Sku" } })
									@Html.ValidationMessageFor(model => model.Sku, "", new { @class = "text-danger" })
								</label>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-7 col-xs-10 col-md-offset-3">
								<label class="col-md-12 col-xs-10 text-left">Description</label>
								<label class="col-md-12 col-xs-10">
									@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @type = "text", @class = "form-control", @style = "padding: 0; padding-left: 5px", @id = "description_text" } })
									@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })


								</label>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-xs-10 " style="margin-left:0%">
								<label class="col-md-12 col-xs-10 text-left" style="font-size: 18px">Gift Voucher Terms</label>
								<label class="col-md-12 col-xs-10" style="margin-top: 2%">
									Set Rules for your Gift Voucher
								</label>
							</div>
							<div class="form-group col-md-7 col-xs-10 " style="margin-left:0%">
								<label class="col-md-5 text-right"></label>
								<div class="">
									<input type="checkbox" checked="" id="checkboxDefault3" name="RedmeeOnline">
									<label for="checkboxDefault3">Allow gift voucher to be redeemed online</label>
								</div>
							</div>
							<div class="form-group col-md-7 col-xs-10 " style="margin-left:0%">
								<label class="col-md-5 text-right"></label>
								<div class="">
									<input type="checkbox" checked="" id="checkboxDefault4" name="Voided">
									<label for="checkboxDefault4">Allow gift voucher to be voided</label>
								</div>
							</div>
							<div class="form-group col-md-7 col-xs-10">
								<label class="col-md-4 text-right"><h5>Allow gift Voucher to expire:</h5></label>
								<div class="col-xs-8">
									<br>
									<div class="">
										<input type="radio" id="fix" name="ExpireId">
										<label for="fix">Fixed</label>
									</div>

									<div class="">
										<input type="radio" id="per" name="ExpireId">
										<label for="per">Period</label>
									</div>
									<div class="">
										<input type="radio" id="rec" name="ExpireId">
										<label for="rec">Recuring</label>
									</div>

								</div>
							</div>

						</div>
						<div id="fixed" hidden="hidden">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker">Date </label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker2">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker6">From</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker6">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker6">To</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker4">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>

						<div id="period" hidden="hidden">

							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker5"> From Date/Time</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker5">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker5">To Date/time</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker7">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>

						<div id="recure" hidden="hidden">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker2">Every </label>
								<div class="col-md-3">
									<select class="form-control">
										<option> Monday</option>
										<option>Option 2</option>
										<option>Option 3</option>
									</select>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker6">From</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker6">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="datetimepicker6">To</label>
								<div class="col-md-3">
									<div class="input-group date" id="datetimepicker6">
										<span class="input-group-addon cursor">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-primary pull-right col-md-1" style="margin-right:90px;border-radius:3px;">Save</button>
						<button type="submit" class="btn btn-default pull-right col-md-1" style="margin-right:40px;border-radius:3px;">Cancel</button>
					</div>
				</div>
}

			</div>
		</div>

		<br>
	</div>
	<!-- End: Content -->
	<!-- Begin: Page Footer -->
	<footer id="content-footer">
		<div class="row">
			<div class="col-md-6">
				<span class="footer-legal">© 2017 PlateformeRDV</span>
			</div>
			<div class="col-md-6 text-right">
				<span class="footer-meta"></span>
				<a href="#content" class="footer-return-top">
					<span class="fa fa-arrow-up"></span>
				</a>
			</div>
		</div>
	</footer>
	<!-- End: Page Footer -->
</section>
<!-- End: Content-Wrapper -->

	<!-- Jquery -->

	<script src="@Url.Content("~/vendor/jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/vendor/jquery/jquery_ui/jquery-ui.min.js")" type="text/javascript"></script>
	<!-- DateTime Plugin -->
	<script src="@Url.Content("~/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js")"></script>
	<!-- Time/Date Plugin Dependencies -->
	<script src="@Url.Content("~/vendor/plugins/globalize/globalize.min.js")"></script>
	<script src="@Url.Content("~/vendor/plugins/moment/moment.min.js")"></script>
	<!-- DateRange Plugin -->
	<script src="@Url.Content("~/vendor/plugins/daterange/daterangepicker.js")"></script>

	<script>
		$(document).ready(function () {
			$("#fix").click(function () {
				$("#period").hide();
			});
			$("#fix").click(function () {
				$("#recure").hide();
			});

			$("#fix").click(function () {
				$("#fixed").show();
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$("#per").click(function () {
				$("#fixed").hide();
			});
			$("#per").click(function () {
				$("#recure").hide();
			});

			$("#per").click(function () {
				$("#period").show();
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$("#rec").click(function () {
				$("#period").hide();
			});
			$("#rec").click(function () {
				$("#fixed").hide();
			});

			$("#rec").click(function () {
				$("#recure").show();
			});
		});
	</script>